In [ ]:
# ANALISIS DE DATOS y primer entrenamiento de un modelo Prophet

In [1]:
# Paso 1: Importar las bibliotecas necesarias

In [1]:
# Python
import pandas as pd
from prophet import Prophet
import matplotlib.pyplot as plt

In [2]:
# Paso 2: Cargar los datos en DataFrames de pandas

In [3]:
# Cargar los datos
stock_df = pd.read_csv('data/tb_stocks.csv', delimiter='\t')
producto_df = pd.read_csv('data/tb_productos.csv', delimiter='\t')
ventas_df = pd.read_csv('data/sell-in.csv', delimiter='\t')

In [4]:
# Paso 3: Asegurarse de que los datos estén bien formateados

In [5]:
stock_df.head()

   periodo  product_id  stock_final
0   201810       20524      1.61267
1   201810       20311      2.93657
2   201810       20654      6.83269
3   201810       21005      1.01338
4   201810       20974      0.34595

In [6]:
# Paso 4: Unir los DataFrames
# Primero, une el DataFrame de STOCK con el de PRODUCTO en la columna product_id.

In [7]:
stock_producto_df = pd.merge(stock_df, producto_df, on='product_id', how='left')

In [8]:
stock_producto_df.head()

,periodo,product_id,stock_final,cat1,cat2,cat3,brand,sku_size
0,201810,20524,1.61267,HC,VAJILLA,Cristalino,Importado,500.0
1,201810,20311,2.93657,HC,VAJILLA,Cristalino,Importado,1000.0
2,201810,20654,6.83269,PC,DEOS,Aero,DEOS2,60.0
3,201810,21005,1.01338,FOODS,SOPAS Y CALDOS,Caldos Granulados,MAGGI,12.0
4,201810,20974,0.34595,FOODS,SOPAS Y CALDOS,Caldos Granulados,MAGGI,12.0

In [9]:
# Luego, une el resultado con el DataFrame de VENTAS.

In [10]:
final_df = pd.merge(ventas_df, stock_producto_df, on='product_id', how='left')

In [11]:
final_df.head()

,periodo_x,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,periodo_y,stock_final,cat1,cat2,cat3,brand,sku_size
0,201701,10234,20524,0,2,0.053,0.053,201810.0,1.61267,HC,VAJILLA,Cristalino,Importado,500.0
1,201701,10234,20524,0,2,0.053,0.053,201811.0,13.65087,HC,VAJILLA,Cristalino,Importado,500.0
2,201701,10234,20524,0,2,0.053,0.053,201812.0,31.68547,HC,VAJILLA,Cristalino,Importado,500.0
3,201701,10234,20524,0,2,0.053,0.053,201901.0,41.73245,HC,VAJILLA,Cristalino,Importado,500.0
4,201701,10234,20524,0,2,0.053,0.053,201902.0,31.70061,HC,VAJILLA,Cristalino,Importado,500.0

In [ ]:
# Paso 5: Crear la serie de tiempo
# Agrupa los datos por periodo y suma las toneladas (tn) para obtener la producción total por periodo

In [11]:
# Convertir la columna 'periodo' a formato de fecha
final_df['periodo'] = pd.to_datetime(final_df['periodo'], format='%Y%m')

# Agrupar por periodo y sumar las toneladas
ts_df = final_df.groupby('periodo')['tn'].sum().reset_index()

# Renombrar las columnas para ajustarse a Prophet
ts_df.columns = ['ds', 'y']

In [ ]:
# Paso 6: Entrenar el modelo Prophet

In [ ]:
# Crear el modelo Prophet
model = Prophet()

# Entrenar el modelo con los datos
model.fit(ts_df)

In [ ]:
# Paso 7: Hacer predicciones para los próximos 6 periodos

In [ ]:
# Crear un DataFrame con los periodos futuros
future = model.make_future_dataframe(periods=6, freq='M')

# Hacer las predicciones
forecast = model.predict(future)

# Visualizar las predicciones
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail(6)

In [ ]:
# Paso 8: Graficar los resultados

In [ ]:
# Importar biblioteca para graficar
import matplotlib.pyplot as plt

# Graficar los resultados
fig = model.plot(forecast)
plt.show()

In [ ]:
Resumen del código completo

In [ ]:
import pandas as pd
from fbprophet import Prophet
import matplotlib.pyplot as plt

# Cargar los datos desde archivos de texto delimitados por tabuladores
stock_df = pd.read_csv('archivo_01_stock.txt', delimiter='\t')
producto_df = pd.read_csv('archivo_02_producto.txt', delimiter='\t')
ventas_df = pd.read_csv('archivo_03_ventas.txt', delimiter='\t')

# Convertir las columnas a enteros
stock_df['stock_final'] = stock_df['stock_final'].astype(int)
ventas_df['cust_request_tn'] = ventas_df['cust_request_tn'].astype(int)
ventas_df['tn'] = ventas_df['tn'].astype(int)

# Unir los DataFrames
stock_producto_df = pd.merge(stock_df, producto_df, on='product_id', how='left')
final_df = pd.merge(ventas_df, stock_producto_df, on='product_id', how='left')

# Convertir la columna 'periodo' a formato de fecha
final_df['periodo'] = pd.to_datetime(final_df['periodo'], format='%Y%m')

# Agrupar por periodo y sumar las toneladas
ts_df = final_df.groupby('periodo')['tn'].sum().reset_index()

# Renombrar las columnas para ajustarse a Prophet
ts_df.columns = ['ds', 'y']

# Crear el modelo Prophet
model = Prophet()

# Entrenar el modelo con los datos
model.fit(ts_df)

# Crear un DataFrame con los periodos futuros
future = model.make_future_dataframe(periods=6, freq='M')

# Hacer las predicciones
forecast = model.predict(future)

# Visualizar las predicciones
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail(6)

# Graficar los resultados
fig = model.plot(forecast)
plt.show()