In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import interact, widgets

In [2]:
# Cargar los datos
data = pd.read_csv('data/sell-in.csv', delimiter='\t')

# Convertir el período a un formato de fecha
data['periodo'] = pd.to_datetime(data['periodo'], format='%Y%m')

In [3]:
data

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,2017-01-01,10234,20524,0,2,0.05300,0.05300
1,2017-01-01,10032,20524,0,1,0.13628,0.13628
2,2017-01-01,10217,20524,0,1,0.03028,0.03028
3,2017-01-01,10125,20524,0,1,0.02271,0.02271
4,2017-01-01,10012,20524,0,11,1.54452,1.54452
...,...,...,...,...,...,...,...
2945813,2019-12-01,10105,20853,0,1,0.02230,0.02230
2945814,2019-12-01,10092,20853,0,1,0.00669,0.00669
2945815,2019-12-01,10006,20853,0,7,0.02898,0.02898
2945816,2019-12-01,10018,20853,0,4,0.01561,0.01561
2945817,2019-12-01,10020,20853,0,2,0.01561,0.01561

In [4]:
# Crear una función para visualizar las series temporales
def plot_series(product_id):
    # Filtrar los datos para el product_id seleccionado
    product_data = data[data['product_id'] == product_id]
    
    # Agrupar los datos por período y sumar las ventas en toneladas
    product_data_grouped = product_data.groupby('periodo')['tn'].sum().reset_index()
    
    # Crear la figura con plotly
    fig = px.line(product_data_grouped, x='periodo', y='tn', title=f'Ventas en toneladas para product_id {product_id}')
    fig.update_layout(xaxis_title='Periodo', yaxis_title='Toneladas vendidas')
    fig.show()

# Obtener la lista de product_id únicos y ordenarla
product_ids = sorted(data['product_id'].unique())

# Crear un widget interactivo para seleccionar el product_id
product_id_selector = widgets.Dropdown(options=product_ids, description='Product ID:')

# Usar interact para crear la interfaz interactiva
interact(plot_series, product_id=product_id_selector)

interactive(children=(Dropdown(description='Product ID:', options=(20001, 20002, 20003, 20004, 20005, 20006, 2…

In [5]:
# Ver las primeras filas para verificar los nombres de las columnas
print(data.head())

# Asegurarnos de que la columna 'periodo' existe
if 'periodo' not in data.columns:
    raise KeyError("La columna 'periodo' no se encuentra en el DataFrame. Verifica los nombres de las columnas.")

# Convertir el período a un formato de fecha
data['periodo'] = pd.to_datetime(data['periodo'], format='%Y%m')

# Crear una función para visualizar las series temporales
def plot_series(product_id):
    # Filtrar los datos para el product_id seleccionado
    product_data = data[data['product_id'] == product_id]
    
    # Agrupar los datos por período y sumar las ventas en toneladas
    product_data_grouped = product_data.groupby('periodo')['tn'].sum().reset_index()
    
    # Crear la figura con plotly
    fig = px.line(product_data_grouped, x='periodo', y='tn', title=f'Ventas en toneladas para product_id {product_id}')
    
    # Mejorar la visualización
    fig.update_layout(
        xaxis_title='Periodo',
        yaxis_title='Toneladas vendidas',
        xaxis=dict(
            tickformat="%Y-%m",
            tickmode='array',
            tickvals=product_data_grouped['periodo']
        ),
        width=1000,  # Aumentar el tamaño del gráfico
        height=500,
        xaxis_rangeslider_visible=True  # Agregar un rango deslizante
    )
    
    fig.show()

# Obtener la lista de product_id únicos y ordenarla
product_ids = sorted(data['product_id'].unique())

# Crear un widget interactivo para seleccionar el product_id
product_id_selector = widgets.Dropdown(options=product_ids, description='Product ID:')

# Usar interact para crear la interfaz interactiva
interact(plot_series, product_id=product_id_selector)

     periodo  customer_id  product_id  plan_precios_cuidados  \
0 2017-01-01        10234       20524                      0
1 2017-01-01        10032       20524                      0
2 2017-01-01        10217       20524                      0
3 2017-01-01        10125       20524                      0
4 2017-01-01        10012       20524                      0

   cust_request_qty  cust_request_tn       tn
0                 2          0.05300  0.05300
1                 1          0.13628  0.13628
2                 1          0.03028  0.03028
3                 1          0.02271  0.02271
4                11          1.54452  1.54452

interactive(children=(Dropdown(description='Product ID:', options=(20001, 20002, 20003, 20004, 20005, 20006, 2…